<header class="navbar">

  <div class="nav-container">
    <a href="index.html" class="nav-logo">
      <img
        src="videos/logo_kliwonan.png"
        alt="Logo Desa Kliwonan"
      />
      <span>Peta Desa Kliwonan</span>
    </a>

    <nav class="nav-menu">
      <a href="index.html" class="nav-link">
        <i class="fas fa-house"></i>
        <span>Home</span>
      </a>

      <a href="map.html" class="nav-link">
        <i class="fas fa-map-location-dot"></i>
        <span>Peta Interaktif</span>
      </a>

      <a href="fasilitas.html" class="nav-link">
        <i class="fas fa-building"></i>
        <span>Fasilitas</span>
      </a>

      <a href="album.html" class="nav-link">
        <i class="fas fa-images"></i>
        <span>Album Peta</span>
      </a>

    </nav>
  </div>
</header>